.lz-table {
  margin: 10px;
  border-collapse: collapse;
  color: #909399;
}


.lz-table tr:hover{
   background-color: #f5f7fa;
    
}
.lz-table thead {
  
   background: #fff;
}
.lz-table thead tr th{
  padding: 10px;
}

.lz-table tr td {
  border: 1px solid;
  min-width: 80px;
  text-align: center;
  padding: 4px;
  border-color: rgb(235, 238, 245);
}
