<table class="table">
   
    <thead>
      <tr>
        <th>标题</th>
      </tr>
    </thead>
    <tbody>
         <% @blogs.each do |blog| %>
         <tr>
            <td>
                <%= link_to blog.title , blog_path(blog)%></td>
           
          
          </tr>
         <% end%>
     
      
    </tbody>
  </table>