<table class="table">
   
    <thead>
      <tr>
        <th>标题</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
         <% @blogs.each do |blog| %>
         <tr>
            <td>
                <%= link_to blog.title , blog_path(blog)%>
              
              
              </td>
             
       <td>     <%= button_to "删除" , blog_path(blog), form: { data: { turbo_confirm: "确认删除吗?" } }, method: :delete %> </td>
          </tr>
         <% end%>
     
      
    </tbody>
  </table>