<%= render(HeaderComponent.new()) do %>
 <% end %>
        <div class="index">
            <main>

                <ol class="aractiles">
                    <% @rows.each do |item| %>

                    <li class="item">
                        <h2><a href="/post"><%= item.name %></a></h2>
                        <span class="title">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
                    </li> 
                    <%end %>
                   

                </ol>

            </main>
        </div>
 