.header {
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 -1px 0 #f3f3f4;
}
.header .content {
  align-items: center;
  display: flex;
  height: 78px;
  justify-content: space-between;
  margin: 0 auto;
  width: 1080px;
}
header .menu-list {
  display: flex;
  flex-direction: row;
}

header .menu-list li {
  margin: 10px;
  color: black;
}
header .menu-list li a {
  padding: 2px;
  color: #2c2c3b;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

header .menu-list li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #6891ff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
header .menu-list li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
